.credentials {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #232931;
  align-items: center;
  justify-content: center;
}

.credentials > img {
  object-fit: contain;
  height: 100px;
}

.credentials__form {
  display: flex;
  margin-bottom: 100px;
  margin-top: 20px;
  flex-direction: column;
  background-color: #36393f;
  height: 380px;
  width: 500px;
  align-items: center;
  border-radius: 5px;
}

.credentials__form > h2 {
  margin-top: 20px;
  color: #eeeeee;
}

.credentials__form > p {
  color: gray;
  font-size: 13px;
}

.credentials__form > button {
  background-color: #7289da;
  margin-top: 30px;
  width: 416px;
  height: 40px;
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.credentials__formGoogle {
  background-color: #4ecca3;
  margin-top: 30px;
  display: flex;
  width: 416px;
  height: 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.credentials__form > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.credentials__form > div > label {
  color: gray;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.credentials__form > div > input {
  background-color: #232931;
  opacity: 0.5;
  padding: 8px;
  color: #eeeeee;
  outline: none;
  width: 400px;
  border-radius: 5px;
  border: 1px solid black;
}

.credentials__formRegister {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: gray;
  padding-top: 10px;
}

.credentials__formRegister > p > a {
  color: #7289da;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.credentials__register {
  height: 450px;
  padding-bottom: 20px;
}

.credentials__image {
  position: absolute;
  z-index: 1;
  height: 40px !important;
  left: 20px;
  top: 20px;
}

.error {
  border: 2px solid salmon !important;
}

@media (max-width: 415px) {
  .credentials > img {
    height: 70px;
  }

  .credentials__form {
    width: 93%;
    margin-bottom: 130px;
  }

  .credentials__form > div > input {
    width: 310px;
  }

  .credentials__form > button {
    width: 325px;
  }

  .credentials__formGoogle {
    width: 325px;
  }
}
