/* 7289da */

.message {
  display: flex;
  margin: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  border-opacity: 0.1;
}

.message__info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.message__info > span {
  display: flex;
  color: #4ecca3;
  margin-bottom: 5px;
  align-items: center;
  font-weight: 700;
}

.message__info > span > p {
  margin-left: 7px;
  font-size: 11px;
  color: gray !important;
  font-weight: 500 !important;
}

.message__info > p {
  width: 90%;
  display: flex;
  flex: 1;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.isUser {
  color: #7289da !important;
}
