.appbody {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  background-color: #393e46;
}

.appbody > .MuiSvgIcon-root {
  position: absolute;
  top: 50%;
  margin-left: -15px;
  flex: 0.2;
  font-size: 50px;
  z-index: 5;
  cursor: pointer;
  display: none;
}

.appbody__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #25282e;
  box-shadow: 1px #262a30;
  height: 44px;
}

.appbody__headerChannel {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.appbody__headerChannel > span {
  margin-right: 10px;
  color: gray;
  font-size: 25px;
}

.appbody__headerIcons {
  margin-right: 20px;
}

.appbody__headerIcons > .MuiSvgIcon-root {
  margin: auto 10px;
}

.appbody__chat {
  flex: 1;
  margin: 20px 15px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: gray;
  width: 7px;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #4ecca3;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .appbody > .MuiSvgIcon-root {
    display: inherit;
  }
}

@media (max-width: 415px) {
  .appbody {
    flex: 1;
  }
}
