.sidebar {
  display: flex;
  flex: 0.2;
  width: 100%;
}

.sidebar__server {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #11151a;
  align-items: center;
  overflow-y: scroll;
}

.sidebar__server::-webkit-scrollbar {
  display: none;
}

.sidebar__server > .MuiSvgIcon-root {
  font-size: 50px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 200ms;
}

.sidebar__server > .MuiSvgIcon-root:hover {
  opacity: 0.8;
}

.sidebar__container {
  flex: 0.8;
}

.sidebar__channel {
  display: flex;
  width: 100%;
  height: 92%;
  flex-direction: column;
  flex: 1;
}

.sidebar__header {
  display: flex;
  border-bottom: 1px solid #11151a;
  box-shadow: 1px 1px #2c2f34;
  justify-content: space-between;
  min-height: 44px;
  max-height: 44px;
  padding-left: 20px;
  align-items: center;
}

.sidebar__header > div > .MuiSvgIcon-root {
  margin-right: 20px;
  cursor: pointer;
}

.channel__container {
  margin-right: 15px;
  height: 250px;
  overflow-y: scroll;
}

.channel__container::-webkit-scrollbar {
  display: none;
}

.channel__containerHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: gray;
  margin-top: 20px;
}

.channel__containerHeader > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.channel__containerHeader > div > h5 {
  font-weight: 900;
}

.channel__containerHeader > .MuiSvgIcon-root {
  cursor: pointer;
  margin-right: 20px;
}

.channel__containerChannels {
  display: flex;
  color: gray;
  margin-left: 20px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: all 200ms;
}

.channel__containerChannels:hover {
  background-color: #434446;
  border-radius: 5px;
}

.channel__containerChannels > span {
  font-size: 20px !important;
}

.channel__containerChannels > h5 {
  margin-left: 7px;
}

.sidebar__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-top: #11151a 2px solid;
}

.sidebar__userProfile {
  display: flex;
}

.sidebar__userProfile > div {
  margin-left: 10px;
}

.sidebar__userProfile > div > span {
  font-size: 12px;
  color: gray;
}

.sidebar__userProfile > div > p {
  font-size: 15px;
  font-weight: 700;
}

.sidebar__userIcons > .MuiSvgIcon-root {
  margin: auto 3px !important;
  cursor: pointer;
  color: gray;
}

/* Material ui */
#simple-menu > .MuiMenu-paper {
  background-color: #11151a !important;
  opacity: 0.8 !important;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    z-index: 500;
    display: none;
    flex: 0;
  }

  .activate__sidebar {
    display: flex;
    transform: translateX(0);
  }
}
