.input {
  border-top: 1px solid gray;
  display: flex;
  flex: 0.18;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
}

.input__form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.input__form > input {
  background-color: gray;
  flex: 1;
  outline: none;
  border: none;
  color: #ffffff;
  text-indent: 10px;
}

.input__form > button {
  display: none;
}

.input__form > .MuiSvgIcon-root {
  margin: 0 5px;
  cursor: pointer;
  transition: all 200ms;
}

.input__form > .MuiSvgIcon-root:hover {
  transform: scale(1.08);
}
